In [1]:
import pandas as pd
import numpy as np

In [2]:
current_DF = pd.read_excel('current.xlsx')
previous_DF = pd.read_excel('Previous.xlsx')

In [3]:
current_DF

         Unnamed: 0  Recent  Previous
0           revenue    1253      1156
1          expences    -546      -465
2      gross profit     707       691
3               tax     -24         0
4  net profit(loss)     683       691
5               NaN      55        45
6           revenue     155       145

In [14]:
(previous_DF['Unnamed: 0'].duplicated().tolist()

[False, False, False, False, False, False, True]

In [15]:
(previous_DF['previous'].duplicated().tolist())

[False, False, False, False, True, False, False]

In [5]:
if True in (previous_DF['previous'].duplicated().tolist()):
    duplicate=(previous_DF[previous_DF['previous'].duplicated()])['previous'].tolist()
    duplicate_particulars = (previous_DF[previous_DF['previous'] == duplicate[0]])['Unnamed: 0'].tolist()
else:
    print('No Dublication')

In [6]:
print(duplicate)
print(duplicate_particulars)

[691]
['gross profit (loss)', 'net profit']

In [7]:
duplicate_particulars[0]

'gross profit (loss)'

In [17]:
previous_DF['current'] = np.nan
for i in range (0,len(current_DF)):
    for j in range (0,len(previous_DF)):
        
        if True not in (previous_DF['Unnamed: 0'].duplicated().tolist()):
            
            if current_DF['Unnamed: 0'][i] == previous_DF['Unnamed: 0'][j]:
                print(current_DF['Unnamed: 0'][i])
                print(previous_DF['Unnamed: 0'][j])
                previous_DF.iat[i,len(previous_DF.columns)-1] = current_DF['Recent'][i]
                print('----------------------------')
                break
            
            
        elif current_DF['Previous'][i] in duplicate:
            print('Dublicate found ',current_DF['Unnamed: 0'][i])
            num=1
            while num <= (len(duplicate_particulars)):
                print(num, duplicate_particulars[num-1])
                num=num+1
                
            print('Select number to which you want to mearg :- ',current_DF['Unnamed: 0'][i])
            user_in = int(input())
            tabel_num=previous_DF['Unnamed: 0'].tolist().index(duplicate_particulars[user_in-1])
            previous_DF.iat[tabel_num,len(previous_DF.columns)-1] = current_DF['Recent'][i]
            
            break
                    
        elif current_DF['Previous'][i] == previous_DF['previous'][j]:
            print(current_DF['Previous'][i])
            print(previous_DF['previous'][j])
            previous_DF.iat[i,len(previous_DF.columns)-1] = current_DF['Recent'][i]
            print('--------------------------')
            break
                
        
        #else:
            #print(current_DF['Unnamed: 0'][i],' Name Not matching with ',previous_DF['Unnamed: 0'][j])
            #print(current_DF['Previous'][i], ' For this back data is not matching ',previous_DF['previous'][j])

1156
1156
--------------------------
-465
-465
--------------------------
Dublicate found  gross profit
1 gross profit (loss)
2 net profit
Select number to which you want to mearg :-  gross profit
1
0
0
--------------------------
Dublicate found  net profit(loss)
1 gross profit (loss)
2 net profit
Select number to which you want to mearg :-  net profit(loss)
2
45
45
--------------------------
145
145
--------------------------

In [9]:
previous_DF

            Unnamed: 0  previous  current
0              revenue      1156   1253.0
1             expences      -465   -546.0
2  gross profit (loss)       691    707.0
3                  tax         0    -24.0
4           net profit       691    683.0
5                  NaN        45     55.0
6              revenue       145    155.0

In [33]:
previous_DF.drop('current',axis=1,inplace=True)

In [52]:
previous_DF['Unnamed: 0'].tolist().index('expences')

1